
body {
    font-family: 'Roboto Mono', monospace;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

header {
    margin: 50px 0;
}

.logo {
    font-family: 'Inconsolata', monospace;
    font-weight: 900;
    margin: 0;
}

.logo > span {
    font-style: italic;
    font-weight: normal;
}

.tag-line {
    font-family: 'Inconsolata', monospace;
}


h2, h3, h4, h5 {
    font-family: 'Inconsolata', monospace;
    font-weight: normal;
}

h2::before {
    content: '> ';
}

p {
    text-align: justify;
}